#main {
	position: absolute;
	left: 50%;
	width: 700px;
	height: 1200px;
	margin-left: -350px;
	padding-top: 8px;
	background-color: #FFFFFF;
}

#content {
	position: absolute;
	left: 50%;
	width: 640px;
	height: 1010px;
	margin-left: -350px;
	margin-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 12pt;
	color: black;
	background-color: #EFEFEF;
	border: 2px solid green;
}

h1 {
	color: #22AA22;
	font-size: 16pt;
}

h2 {
	color: #2222AA;
	font-size: 14pt;
}

a {
	color: #6666CC;
	font-size: 14pt;
	text-decoration: none;
}
