<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sgh</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>SavedGame</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<true/>
			<key>CFBundleTypeName</key>
			<string>Saved Solitaire Game</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>fontaine.Solitaire2.saveGame</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
	</array>
	<key>CFBundleHelpBookFolder</key>
	<string>Solitaire Help</string>
	<key>CFBundleHelpBookName</key>
	<string>Solitaire Greatest Hits Help</string>
	<key>CFBundleSignature</key>
	<string>DANF</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Saved Solitaire Game</string>
			<key>UTTypeIconFile</key>
			<string>SavedGame</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>SavedGame</string>
				<key>UTTypeIconText</key>
				<string>Game</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>fontaine.Solitaire2.saveGame</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sgh</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
